/* HEADER */
.header {
  margin-top: 30px;
  display: flex;
  margin-left: 60px;
  align-items: center;
}
.header .calculator {
  width: 70px;
  height: 80px;
  color: #5c48d3;
}
.header h1 {
  font-size: 40px;
  line-height: 59px;
  padding-left: 30px;
}
.line {
  border: 1px solid #e5e5e5;
  margin-top: 10px;
}
/* CONTAINER */
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-self: center;
}
.calculator {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* COUNTER */
.counter {
  color: white;
  font-size: 54px;
  width: 150px;
  height: 150px;
  background-color: #5c48d3;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* IMG */
.minus-img,
.plus-img {
  height: 52.5px;
  width: 52.5px;
  display: flex;
  justify-content: center;
  align-content: center;
}
/* BUTTON */
button {
  border: none;
  background-color: white;
  margin-left: 55px;
  margin-right: 55px;
}
/* BTN RESET */
.btn-reset {
  width: 150px;
  height: 50px;
  background-color: #5c48d3;
  border-radius: 10px;
  font-weight: bold;
  font-size: 32px;
  color: white;
}
/* HIDDEN */
.hidden {
  display: none;
}

/* FOOTER */
.footer {
  text-align: center;
  color: black;
  font-size: 15px;
  line-height: 18px;
  margin-top: 150px;
}
.footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
